

#aspnetForm {
    font-family: 'Segoe UI', SegoeUI, 'Helvetica Neue', Helvetica, Arial, sans-serif; /*Microsoft fonts*/
    color: rgb(10, 10, 10);
}

.modified_law_warning {
    position : fixed;
    top      : 10px;
    left     : 10px;
    cursor   : pointer;
    border   : 1px solid grey;
    z-index  : 100000;
    padding  : 5px;
    font-size : 0.7em;
    background-color : rgb(255, 255, 126);
}

.change-form-text-size {
    position         : absolute;
    right            : 30%;
    top              : 0.5em;
    margin           : 0px !important;
    padding-left     : 10px;
    z-index          : 10000;
    background-color : white;
}

.change-form-text-size--input-text {
    width  : 4em !important;
    float  : left !important;
    height : 15px !important;
    font-size : 0.7em !important;
}

.change-form-text-size--input-submit {
    width  : auto !important;
    cursor : pointer !important;
    border : 1px solid rgb(128, 128, 128) !important;
    padding : 0px 5px 0px 5px !important;
    font-size : 0.7em !important;
}

@media print {
    .change-form-text-size {
        display: none;
    }
}